@import "bootstrap-sass/bootstrap";
@import "bootstrap-social/bootstrap-social";
@import "font-awesome/font-awesome";

$fa-font-path:	"../fonts/font-awesome";

@import "font-awesome/path";

body {
	padding-top: 30px;
}
.masthead {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 35%;
	padding: 3rem 2rem;
}
.listing {
	margin-left: 35%;
	width: 65%;
	padding-left: 0;
	padding-right: 1.5rem;
}
.notification {
	padding: 5px 15px 0px 15px;
	.status-message {
		padding-top: 10px;
		font-size: 1.5rem;
		line-height: 1.38;
		font-weight: normal;
		p {
			word-wrap: break-word;
		}
	}
	a {
		color: #3b5998;
		cursor: pointer;
		text-decoration: none;
	}
}

.object {
	.content {
		padding: 10px 15px;
		border-bottom: 1px solid #e1e2e3;
	}
	.comment-list {
		background: #f6f7f8;
		padding: 10px 15px;
	}
	.list-group-item {
		padding: 0px;
	}
	.message-content { 
		white-space: pre;
	}
}

.comment {
	padding: 5px 0px 0px;
	.left {
		width: 33px;
		float: left;
	}
	.body {
		width: calc(100% - 33px);
		float: left;
		padding-left: 10px;
	}
	.comment-from {
		line-height: 1.34;
		font-weight: bold;
	}
	.comment-message {
		word-wrap: break-word;
		line-height: 1.34;
	}
	.comment-action {
		padding: 5px 0px 5px;
		width: 100%;
		display: block;
		a {
			font-size: 100%;
		}
	}
	a {
		color: #3b5998;
		cursor: pointer;
		text-decoration: none;
	}
}
.subcomment-list-border-new:after {
	background-color: #5890ff;
	bottom: 0;
	content: '';
	left: 30px;
	position: absolute;
	top: 0;
	width: 2px;
}
.subcomment-list-border:after {
	border-left: 2px solid #dcdee3;
	content: '';
	left: 30px;
	position: absolute;
	width: 0px;
	bottom: 0;
	top: 0px;
}
.subcomment-list {
	// padding-top: 5px;
	// padding-bottom: 5px;
	position: relative;
	.subcomment {
		padding: 0px 12px 0px 44px;
		margin-top: 0px;
		position: relative;
		.left {
			width: 25px;
			float: left;
		}
		.body {
			width: calc(100% - 26px);
			float: left;
			padding: 1px 1px 1px 10px;
		}
		.comment-from {
			line-height: 1.34;
			font-weight: bold;
		}
		.comment-message {
			word-wrap: break-word;
			line-height: 1.34;
		}
		.comment-action {
			padding: 5px 0px 5px;
			width: 100%;
			display: block;
			a {
				font-size: 100%;
			}
		}
		.border-new:after {
			background-color: #5890ff;
			bottom: 0;
			content: '';
			left: 30px;
			position: absolute;
			top: 0;
			width: 2px;
		}
		.border:after {
			border-left: 2px solid #dcdee3;
			content: '';
			left: 30px;
			position: absolute;
			width: 0px;
			bottom: 0;
			top: 0px;
		}
		a {
			color: #3b5998;
			cursor: pointer;
			text-decoration: none;
		}
	}
}
.reply.subcomment {
	input {
		width: 100%;
		padding-left: 5px;
	}
}
.reply.comment {
	input {
		line-height: 27px;
		width: 100%;
		padding-left: 5px;
	}
}
.badge.red {
	background-color: #d9534f;
}
.new-comment-border{
	position: relative;
  	margin-left: -16px;
  	.subcomment-list {
  		.subcomment {
  			padding-left: 44px;
  			margin-left: 16px;
  		}
  	}
  	.reply.media {
  		padding-left: 44px;
  		margin-left: 16px;
  	}
  	.media {
  		padding-left: 16px
  	}
}
.new-comment-border:after {
	background-color: #5890ff;
	bottom: 0;
	content: '';
	left: 0px;
	position: absolute;
	top: 0;
	width: 2px;
}