@import "bootstrap-sass/bootstrap";
@import "bootstrap-social/bootstrap-social";
@import "font-awesome/font-awesome";

$fa-font-path:	"../fonts/font-awesome";

@import "font-awesome/path";

body {
	padding-top: 20px;
}

.notification {
	padding: 5px 15px 0px 15px;
	.status-message {
		padding-top: 10px;
		font-size: 1.5rem;
		line-height: 1.38;
		font-weight: normal;
		p {
			word-wrap: break-word;
		}
	}
	a {
		color: #3b5998;
		cursor: pointer;
		text-decoration: none;
	}
}

.object {
	.content {
		padding: 10px 15px;
		border-bottom: 1px solid #e1e2e3;
	}
	.comment-list {
		background: #f6f7f8;
		padding: 10px 15px 0px;
	}
	.list-group-item {
		padding: 0px;
	}
}

.comment {
	padding: 5px 0px 5px;
	.left {
		width: 45px;
		float: left;
	}
	.body {
		width: calc(100% - 45px);
		float: left;
		padding-left: 10px;
	}
	.comment-from {
		line-height: 1.34;
		font-weight: bold;
	}
	.comment-message {
		word-wrap: break-word;
		line-height: 1.34;
	}
	.comment-action {
		padding: 5px 0px 5px;
		width: 100%;
		display: block;
		a {
			font-size: 100%;
		}
	}
	a {
		color: #3b5998;
		cursor: pointer;
		text-decoration: none;
	}
}
.subcomment-list {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	.subcomment {
		padding: 0px 12px 0px 44px;
		margin-top: 0px;
		position: relative;
		.left {
			width: 25px;
			float: left;
		}
		.body {
			width: calc(100% - 25px);
			float: left;
			padding-left: 10px;
		}
		.comment-from {
			line-height: 1.34;
			font-weight: bold;
		}
		.comment-message {
			word-wrap: break-word;
			line-height: 1.34;
		}
		.comment-action {
			padding: 5px 0px 5px;
			width: 100%;
			display: block;
			a {
				font-size: 100%;
			}
		}
		.border-new:after {
			background-color: #5890ff;
			bottom: 0;
			content: '';
			left: 30px;
			position: absolute;
			top: 0;
			width: 2px;
		}
		.border:after {
			border-left: 2px solid #dcdee3;
			content: '';
			left: 30px;
			position: absolute;
			width: 0px;
			bottom: 0;
			top: 0px;
		}
		a {
			color: #3b5998;
			cursor: pointer;
			text-decoration: none;
		}
	}
}
.reply {
	input {
		width: 100%;
		padding-left: 5px;
	}
}