<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<button class="btn btn-block btn-social btn-pinterest" ng-click="fbLogout()">
			<i class="fa fa-facebook"></i> Logout from Facebook
		</button>
	</div>
</div>
<div class="row text-center">
	Already Login!<br><br>
	{{user}}
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<button class="btn btn-block btn-social btn-facebook" ng-click="fbGetPageList()">
			<i class="fa fa-facebook"></i> Get Facebook Page List
		</button>
	</div>
</div>