<div class="row notification">
	<div class="content">
		<div class="media">
			<div class="media-left">
				<a ng-href="{{currentPage.link}}" target="_bank">
					<img class="media-object" ng-src="{{currentPage.photos.data[0].picture}}" width="45px" height="45px" />
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a ng-href="http://www.facebook.com/{{currentPage.id}}" target="_bank">{{currentPage.name}}</a></h4>
				<small>{{pageObjs.created_time}}</small>
			</div>
		</div>
		<div class="status-message"><p style="white-space: pre;">{{pageObjs.message}}</p></div>
	</div>
	<comment-temp></comment-temp>
</div>